/************* scroll bar start *************/
.scroll-bar-wrap {
    width: 100%;
    position: relative;
}

.scroll-box {
    overflow: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        overflow: visible;
        border-radius: 4px;
    }

    &::-webkit-scrollbar {
        width: .4em;
        background: rgba(0, 0, 0, .05);
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .2);
    }
}

.cover-bar {
    position: absolute;
    background: #ebedf1;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    transition: all .5s;
    opacity: 1;
}

.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    transition: all .5s;
}

/************* scroll bar end *************/