body {
  background: #eef1f6;
  height: 100vh;
  font-family: "Graphik Web";
  font-weight: 400;

  /* total width */
  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
  }

  /* scrollbar itself */
  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
  }

  /* set button(top and bottom of the scrollbar) */
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.header {
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0 auto;
  padding: 12px 0;

  .brand-label {
    display: flex;
    align-items: center;

    figure {
      margin: 0;

      img {
        position: relative;
        max-width: 80px;
      }
    }

    .ver {
      font-size: 14px;
      line-height: 14px;
      display: inline-flex;
      position: relative;
      margin-left: 8px;
    }

    &-label {
      font-size: 13px;
    }
  }
}

.dt-progress-bar {
  .btn-light {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.06);

    .pg {
      font-size: 26px;
      color: #336bec;
      margin-right: 6px;
    }
  }
}

.info-text {
  position: relative;
  top: 8px;
  font-size: 12px;
  font-weight: 500;

  .nxi {
    position: relative;
    top: 2px;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.7rem 1.3rem;
  font-size: 16px;
}

.btn-round {
  border-radius: 100px;
}

.dt-base {
  display: grid;
  grid-template-columns: 100px auto 30%;
  grid-template-rows: 80px auto 100px;
  /* not neccesary */
  padding: 20px 0;
  // height: 730px;
}

.dt-elements {
  margin: 5px;
}

.custom-select-sm {
  text-transform: capitalize;
}

.boxTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;

  &.back-link {
    @include flex-as-row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;

    .nxi {
      cursor: pointer;
      position: relative;
      top: 3px;
    }

    .nxi-close {
      cursor: pointer;
      position: absolute;
      top: 3px;
      right: 0;
    }

    .custom-select {
      margin: 0 0 0 4px;
      position: relative;
      min-width: 196px;
      max-width: 196px;
    }

    .advanced-search-box {
      width: 31px;
      min-width: 31px;
      margin: 0 0 0 4px;
      // position: relative;
      @include transition(all linear 0.2s);
      position: absolute;
      right: 0;
      z-index: 1;

      .input-group {
        flex-wrap: nowrap;

        &-text {
          width: 31px;
          background: transparent;
          border: 0;
          border-radius: 4px;
          cursor: pointer;
        }

        .form-control {
          flex: 0;
          padding: 0;
          border-left: 0;
          border-radius: 0 100px 100px 0;

          &:hover,
          &:focus,
          &:active {
            flex: 1;
            padding: 0.25rem 0.5rem;
            outline: none;
            box-shadow: 0;
          }
        }
      }
    }
  }
}

.back-link {
  .advanced-search-box {
    &:hover,
    &:focus,
    &:active {
      position: absolute;
      right: 0;
      width: 100%;

      .input-group {
        &-text {
          background: #{$white};
          border-radius: 100px 0 0 100px;
          border: 0;
          cursor: pointer;
        }

        .form-control {
          flex: 1;
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }
}

.label {
  &-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  &-desc {
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;
    @include text-ellipsis;
    width: 100%;
    color: #{$gray-600};
  }
}

.titleRow {
  @include flex-as-row;
  justify-content: space-between;

  &-info {
    @include flex-as-row;
  }

  &-links {
    @include flex-as-row;

    .share-btn {
      font-size: 13px;
      line-height: 13px;
      font-weight: 500;
      color: #{$gray-700};
      position: relative;
      top: -3px;

      .nxi {
        position: relative;
        top: 3px;
        font-size: 16px;
        line-height: 16px;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: #{$green};
      }
    }

    .save-btn {
      @extend .share-btn;
      margin-left: 10px;
    }
  }
}

.titleGroup {
  &-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
  }

  &-link {
    font-size: 13px;
    line-height: 13px;
  }
}

.card.text-input {
  .form-control {
    border: 0;
    outline: 0;
    box-shadow: none;
    resize: none;
  }

  .card-footer {
    padding: 4px;
  }
}

.styleRow {
  @include flex-as-row;
  justify-content: space-between;

  .btn-sm {
    padding: 0 6px;
    color: #{$gray-800};
    font-size: 12px;
  }
}

.custom-pills {
  background: rgba(#000000, 0.03);
  border-radius: 9px;
  border: 1px solid rgba(#000000, 0.05);
  padding: 1px;

  .nav-link {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #{$gray-500};
    padding: 8px 1rem 10px;
    @include transition(all 0.2s linear);

    &:hover {
      color: #{$gray-800};
    }

    &.active {
      background-color: #{$white};
      color: #{$gray-800};
      border-radius: 7px;
      @include shadow-normal;
    }
  }
}

.color-btn {
  @include colorBtn(30px, 30px, 4px);
}

.text-options {
  @include flex-as-row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(#000000, 0.1);

  &-left {
    flex: 1;
    font-size: 13px;
    min-width: 90px;
  }

  &-right {
    flex: auto;
    text-align: right;

    .custom-select {
      width: auto;
    }

    .color-btn {
      display: block;
      margin: 0 0 0 auto;
      cursor: pointer;
    }
  }

  &-list {
    position: relative;
    cursor: pointer;

    .font-list {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.advanced-search {
  &-box {
    margin-bottom: 12px;

    .input-group {
      &-text {
        background: #{$white};
        border-radius: 100px 0 0 100px;
      }

      .form-control {
        border: 0;
        border-radius: 0 100px 100px 0;
      }
    }
  }

  .scroll-bar-wrap {
    width: calc(100% + 0.4em);
  }

  .listView {
    max-height: 570px;

    &-elements:not(:first-child) {
      border-top: 1px solid rgba(#000000, 0.1);
    }
  }

  .thumbView {
    max-height: 600px;

    &-wrap {
      margin: 0 -6px;
    }

    &-elements {
      cursor: pointer;
      border: 1px solid rgba(#000000, 0.1);
      border-radius: 4px;
      box-shadow: none;
      @include transition(all linear 0.2s);

      &:hover,
      &:focus {
        @include shadow-hovered;
        border-color: #{$green};
      }

      .imageWrap {
        @include flex-as-column;
        align-items: center;

        &-box {
          @include imageBox(72px, 72px, 4px);
          background-color: #{$white};
          margin: 0;
        }
      }
    }
  }

  .bg-wrap {
    .boxtitle {
      font-size: 16px;
      line-height: 20px;
      margin-top: 20px;
      text-transform: capitalize;
    }

    &-colors {
      .color-btn {
        @include colorBox(50px, 50px, 4px);
      }
    }

    &-patterns {
      .imageWrap-box {
        @include imageBox(50px, 50px, 4px);

        img {
          transform: scale(2, 2);
        }
      }
    }
  }

  .thumbView-elements {
    &.transparent {
      .color-btn,
      .imageWrap-box {
        @include transparent;
      }
    }
  }
}

.font-wrap {
  @include flex-as-column;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
  @include transition(all linear 0.2s);

  &.active,
  &:hover,
  &:focus {
    color: #{$green};
  }

  &-style {
    font-size: 24px;
    line-height: 28px;
  }

  &-title {
    margin-top: 8px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(#000000, 0.5);
  }

  &.effectBox {
    .font-wrap-style {
      img {
        width: 120px;
        opacity: 0.6;
        @include transition(all linear 0.2s);

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }

    &.active {
      .font-wrap-style {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.custom-file {
  cursor: pointer;

  &-input {
    cursor: pointer;
  }

  &-label {
    max-height: 35px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;

    &::after {
      display: none;
    }
  }
}

.custom-file-link {
  display: block;

  .custom-file-label {
    font-size: 13px;
    /* line-height: 11px; */
    font-weight: 500;
    margin: 0;
    color: #fff;
    background-color: #4376d8;
    border-color: #4376d8;
    cursor: pointer;

    .nxi {
      position: relative;
      top: 2px;
    }

    &::after {
      display: none;
    }
  }
}

.bg-wrap {
  .custom-pills {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: calc(100% - 0.4em);

    .nav-item .nav-link {
      padding: 6px 10px 8px !important;
    }
  }
}

.color-block {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  .color-box {
    width: 25px;
    height: 25px;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
  }
}

.nx-drop-box {
  background-color: rgba(#000000, 0.03);
  border: 2px dashed #{$gray-500};
  border-radius: 12px;
  text-align: center;
  padding: 30px;
  margin-bottom: 12px;
  width: calc(100% - 0.4em);

  .nx-drop-icon {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #{$gray-500};
    cursor: pointer;
  }

  .nx-drop-text {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  .nx-drop-btn {
    text-decoration: none;
    background: #3ab73b;
    color: #fff !important;
    padding: 11px 14px;
    text-align: center;
    border-radius: 2px;
    font-size: 13px;
    display: inline-table;
    line-height: 13px;
    margin-top: 12px;
  }
}

.small-txt {
  font-size: 12px;
}

.upload-info {
  width: calc(100% - 0.4em);
  @include flex-as-row;
  flex-wrap: wrap;

  span {
    background: #{$white};
    border: 1px solid rgba(#000000, 0.03);
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 11px;
    font-weight: 500;
    color: #{$gray-600};
    padding: 3px 6px;
    margin: 1px;
  }
}

.upload-social {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;

  li {
    margin: 12px 0;

    a {
      color: #{$gray-600};
      font-size: 14px;
      line-height: 14px;

      &:hover {
        text-decoration: none;
      }
    }

    .icon {
      margin-right: 6px;
    }
  }
}

.cart-variant {
  @include flex-as-row;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-right: 0.1em !important;

  &-color {
    min-width: 100px;
    max-width: 120px;
    @include flex-as-row;
    align-items: center;
  }

  &-size {
    flex: auto;
    @include flex-as-row;
  }

  &-action {
    padding: 0 4px;
  }

  .color {
    &-btn {
      @include colorBtn(40px, 40px, 4);
      margin-right: 6px;
    }

    &-info {
      @include flex-as-column;

      .lable {
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
      }

      .btn {
        font-size: 11px;
        line-height: 11px;
        font-weight: 500;
      }
    }
  }

  .size-input {
    @include flex-as-column;
    text-align: center;

    > div {
      margin: 0 3px;
    }

    .size {
      font-size: 11px;
      line-height: 11px;
      font-weight: 500;
      color: #{$gray-600};
      margin-bottom: 4px;
    }

    .input {
      min-width: 40px;

      .form-control {
        text-align: center;
      }
    }

    // .price {}
  }

  .btn-danger {
    width: 28px;
    height: 28px;
    color: #{$white};

    .nxi {
      position: relative;
      top: 1px;
      left: -0.5px;
    }
  }
}

.listView-elements {
  .cart-variant {
    padding: 10px 0 14px 0;
  }

  &:first-child {
    .cart-variant {
      padding: 0 0 14px 0;
    }
  }
}

.text-underline {
  text-decoration: underline;
}

.form-group {
  label {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #505165;
  }
}

.title {
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
  color: #505165;
  margin: 0 0 16px 0;
}

.sub-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #9394a4;
}

.preLoader {
  display: flex;
  flex-flow: column;
  text-align: center;
  // for any box size
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 15% 0 0 0;

  .loader-box {
    .spinner {
      margin: 0;

      img {
        max-width: 62px;
      }
    }
  }
}

.tick-icon {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    // left: -2px;
    display: block;
    width: 24px;
    height: 24px;
    background: 50%/50% 50% no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2317ab17' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  &.rounded {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      pointer-events: none;
      border: 1px solid #adb5bd;
      color: #fff;
      border-color: #17ab17;
      background-color: #17ab17 !important;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      display: block;
      width: 24px;
      height: 24px;
      background: 50%/50% 50% no-repeat;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
}

.alert {
  border-radius: 20px;
  padding: 24px 44px;

  &-heading {
    color: #333;
  }

  &-subheading {
    color: #333;
  }

  .tick-icon {
    &::after {
      top: 7px;
      left: 0px;
      width: 36px;
      height: 30px;
      margin: 0 10px;
      box-sizing: content-box;
    }
  }

  &-success {
    .tick-icon {
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2317ab17' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
    }
  }

  &-warning {
    .tick-icon {
      &::after {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="fill:%23dc7a14;"  xml:space="preserve"%3E%3Cpath d="M501.35,369.069L320.565,66.266c-13.667-23.008-37.805-36.749-64.567-36.749c-26.762,0-50.9,13.741-64.567,36.749 L10.662,369.069c-13.96,23.492-14.224,51.706-0.719,75.462c13.536,23.771,37.922,37.951,65.27,37.951h361.57 c27.348,0,51.736-14.18,65.27-37.951C515.56,420.776,515.296,392.561,501.35,369.069z M255.999,122.094 c16.587,0,30.032,13.445,30.032,30.032v120.13c0,16.585-13.445,30.032-30.032,30.032c-16.587,0-30.032-13.448-30.032-30.032 v-120.13h0C225.966,135.539,239.412,122.094,255.999,122.094z M255.999,422.417c-24.841,0-45.049-20.208-45.049-45.049 c0-24.841,20.208-45.049,45.049-45.049c24.841,0,45.049,20.208,45.049,45.049C301.047,402.21,280.84,422.417,255.999,422.417z"/%3E%3C/svg%3E');
      }
    }
  }

  .btn.float-right {
    position: relative;
    top: -3px;
    right: -10px;
  }
}

.notificationBox {
  .alert {
    .tick-icon {
      &::after {
        top: 1px;
        left: 0px;
        width: 50px;
        height: 50px;
        margin: 0;
      }
    }

    &-success {
      .tick-icon {
        width: 50px;
        height: 50px;
        margin-right: 14px;
        position: relative;

        &::after {
          width: 100px;
          height: 100px;
          top: -25px;
          left: -25px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' fill='%2317ab17' xml:space='preserve'%3E%3Cpath d='M437.019,74.98C388.667,26.629,324.38,0,256,0C187.619,0,123.331,26.629,74.98,74.98C26.628,123.332,0,187.62,0,256 s26.628,132.667,74.98,181.019C123.332,485.371,187.619,512,256,512c68.38,0,132.667-26.629,181.019-74.981 C485.371,388.667,512,324.38,512,256S485.371,123.333,437.019,74.98z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30 s226,101.383,226,226S380.617,482,256,482z'/%3E%3Cpath d='M378.305,173.859c-5.857-5.856-15.355-5.856-21.212,0.001L224.634,306.319l-69.727-69.727 c-5.857-5.857-15.355-5.857-21.213,0c-5.858,5.857-5.858,15.355,0,21.213l80.333,80.333c2.929,2.929,6.768,4.393,10.606,4.393 c3.838,0,7.678-1.465,10.606-4.393l143.066-143.066C384.163,189.215,384.163,179.717,378.305,173.859z'/%3E%3C/svg%3E");
        }
      }

      .alert-text {
        flex: auto;
      }
    }
  }

  .alert-btns {
    display: flex;
    align-items: center;

    .btn {
      margin-left: 6px;
    }

    .priceInfo {
      text-align: right;
      color: #333;
      margin-right: 12px;
    }
  }

  .canvasWrap {
    padding: 36px;

    .alert {
      padding: 8px 50px;
      border-radius: 6px;

      &-heading {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.canvasWrap {
  .priceWrap {
    display: flex;
    flex-flow: column;
    text-align: center;

    .custom-control-label {
      display: flex;
      flex-flow: column;
      align-items: flex-start;

      .title {
        font-size: 14px;
        line-height: 15px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      .amount {
        font-size: 20px;
        line-height: 21px;
        font-weight: 600;
      }
    }
  }
}

.btn {
  &-primary {
    background-color: #336bec;
    border-color: #336bec;

    &:hover,
    &:focus {
      background-color: darken(#336bec, 10);
      border-color: darken(#336bec, 10);
    }
  }

  .pg {
    position: relative;
    top: 2px;
  }
}

.list-box {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
  list-style: none;

  .list-row {
    position: relative;
    padding-left: 40px;
    margin-top: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      pointer-events: none;
      border: 1px solid #adb5bd;
      color: #fff;
      border-color: #17ab17;
      background-color: #17ab17;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: -2px;
      display: block;
      width: 24px;
      height: 24px;
      background: 50%/50% 50% no-repeat;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &.error {
      &::before {
        border-color: #e65f35;
        background-color: #e65f35;
      }

      &::after {
        top: 2px;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 348.333 348.334" fill="%23fff" xml:space="preserve"%3E%3Cpath d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85 c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563 c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85 l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554 L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z"/%3E%3C/svg%3E');
      }
    }
  }
}

.txt-group {
  display: flex;
  flex-flow: column;

  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #505165;
    margin: 0 0 3px 0;
  }

  .sub-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #9394a4;
    margin: 0;
  }
}

.thank-you {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 50px 0;

  .iconBox {
    display: flex;
    justify-content: center;
    min-height: 90px;
    margin-bottom: 30px;

    .tick-icon {
      display: block;
      position: relative;
      width: 90px;
      height: 90px;

      &::before {
        top: 0;
        left: 0;
        display: block;
        width: 90px;
        height: 90px;
      }

      &::after {
        top: 0px;
        left: 0px;
        display: block;
        width: 90px;
        height: 90px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 342.357 342.357" fill="%23fff" xml:space="preserve"%3E%3Cpolygon points="290.04,33.286 118.861,204.427 52.32,137.907 0,190.226 118.862,309.071 342.357,85.606 "/%3E%3C/svg%3E');
      }
    }
  }
}

.colorPicker {
  display: flex;
  align-items: center;

  .picker {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid rgba(#000000, 0.15);
    background: #0fd10f;
    cursor: pointer;
  }

  .color-name {
    margin-left: 10px;
  }
}

.nav-custom {
  border-top: 1px solid rgba(#000000, 0.1);
  border-bottom: 1px solid rgba(#000000, 0.1);
  counter-reset: nav-counter;
  flex-wrap: nowrap;

  .nav-item {
    flex: 1;
    display: flex;
    position: relative;
    opacity: 0.5;
    transition: all ease-in-out 0.2s;
    padding: 6px 6px 6px 12px;

    &:not(:last-child) {
      border-right: 1px solid rgba(#000000, 0.1);
    }

    &:hover {
      opacity: 1;
    }

    &::before {
      counter-increment: nav-counter;
      content: counter(nav-counter);
      width: 26px;
      height: 26px;
      border-radius: 100px;
      border: 2px solid #9394a4;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
    }

    .nav-link {
      color: #646a7e;
      padding: 2px 6px;
    }

    &.active,
    &.completed {
      opacity: 1;

      &::before {
        border-color: #17ab17;
        background-color: #17ab17;
        color: #fff;
      }
    }
  }
}

.nav-custom {
  position: absolute;
  width: 100%;
  top: -20px;
}

.modal.right {
  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 420px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  &.fade {
    .modal-dialog {
      right: -320px;
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
      transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    &.show .modal-dialog {
      right: 0;
    }
  }

  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: -4px -1px 12px rgba(0, 0, 0, 0.1);
    box-shadow: -4px -1px 12px rgba(0, 0, 0, 0.1);
  }

  .modal-header {
    text-align: center;
    border-bottom: 0;
    padding: 10.5px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background: #343a40;
    background: no-repeat;
    padding: 20px 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
    .modal-title {
      font-size: 13px;
      line-height: 13px;
      color: #fff;
      margin: 0;
      font-size: 18px;
      color: #333;
      font-weight: 600;
    }
  }

  .close {
    position: absolute;
    right: 13px;
    top: 7px;
    color: #fff;
    text-shadow: none;
    font-size: 18px;
    color: #333;
    font-size: 26px;
    top: 15px;
  }

  .modal-body {
    padding: 0;
  }
}

.chat {
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    img {
      float: left;
    }
    .chat .chat-header .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    .chat .chat-header .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    .chat .chat-header .chat-num-messages {
      color: #92959e;
    }
    .chat .chat-header .fa-star {
      float: right;
      color: #d8dadf;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: calc(100vh - 244px);
    /* total width */
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
    &::-webkit-scrollbar-track:hover {
      background-color: #f4f4f4;
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 5px solid #fff;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a5;
      border: 4px solid #f4f4f4;
    }

    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
      display: none;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    .message-data {
      margin-bottom: 15px;
    }
    .message-data-time {
      color: #a8aab1;
      padding-left: 6px;
    }
    .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative;
    }
    .message:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-bottom-color: #86bb71;
      border-width: 10px;
      margin-left: -10px;
    }
    .my-message {
      background: #86bb71;
    }
    .other-message {
      background: #94c2ed;
    }
    .other-message:after {
      border-bottom-color: #94c2ed;
      left: 93%;
    }
  }
  .chat-message {
    padding: 30px;
    textarea {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
    }
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
