@font-face {
    font-family: 'Graphik Web';
    src: url(../webfonts/Graphik-Light-Web.eot);
    src: url(../webfonts/Graphik-Light-Web.eot?#iefix) format("embedded-opentype"), url(../webfonts/Graphik-Light-Web.woff) format("woff"), url(../webfonts/Graphik-Light-Web.ttf) format("truetype"), url(../webfonts/Graphik-Light-Web.svg#Graphik-Light) format("svg");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
    src: url(../webfonts/Graphik-Regular-Web.eot);
    src: url(../webfonts/Graphik-Regular-Web.eot?#iefix) format("embedded-opentype"), url(../webfonts/Graphik-Regular-Web.woff) format("woff"), url(../webfonts/Graphik-Regular-Web.ttf) format("truetype"), url(../webfonts/Graphik-Regular-Web.svg#Graphik-Regular) format("svg");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
    src: url(../webfonts/Graphik-Medium-Web.eot);
    src: url(../webfonts/Graphik-Medium-Web.eot?#iefix) format("embedded-opentype"), url(../webfonts/Graphik-Medium-Web.woff) format("woff"), url(../webfonts/Graphik-Medium-Web.ttf) format("truetype"), url(../webfonts/Graphik-Medium-Web.svg#Graphik-Medium) format("svg");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik Web';
    src: url(../webfonts/Graphik-Semibold-Web.eot);
    src: url(../webfonts/Graphik-Semibold-Web.eot?#iefix) format("embedded-opentype"), url(../webfonts/Graphik-Semibold-Web.woff) format("woff"), url(../webfonts/Graphik-Semibold-Web.ttf) format("truetype"), url(../webfonts/Graphik-Semibold-Web.svg#Graphik-Semibold) format("svg");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}