.canvasWrap {
    display: flex;
    // align-items: center;
    width: 100%;
    height: 100%;
    padding: 68px;
    background: #{$white};
    border-radius: 12px;
    @include shadow-normal;
    position: relative;
}