.cartBtns {
    &-group {
        background-color: #{$white};
        @include flex-as-row;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        padding-left: 8px;
        @include shadow-normal;
    }

    &-col {
        flex: auto;
    }
}

.cart-icon {
    position: relative;

    .nxi {
        position: relative;
        font-size: 36px;
        line-height: 36px;
        top: 3px;
        left: 0;
    }

    .cart-count {
        position: absolute;
        background: #{$red};
        min-width: 18px;
        max-width: 18px;
        min-height: 18px;
        max-height: 18px;
        border-radius: 100px;
        right: 6px;
        top: 0px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #{$white};
        font-size: 11px;
        line-height: 11px;
    }
}

.cartBtns-col {
    .titleGroup {
        margin: 0;
        border-left: 1px solid #ddd;
        padding-left: 12px;

        &-title {
            font-size: 20px;
            line-height: 20px;
            font-weight: 500;
            margin: 0 0 4px 0;
        }

        &-link {
            font-size: 13px;
            line-height: 13px;
        }
    }

    .btn {
        display: block;
        border-radius: 0 6px 6px 0;
        padding: 14px 8px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }
}