.productInfo {
    @include flex-as-row;
    align-items: flex-start;

    &-sides {
        @include flex-as-row;

        .controls {
            max-height: 55px;
            padding: 6px;
            display: flex;
            align-items: center;
            opacity: 0.3;
            @include transition(all 0.2s linear);

            &:hover,
            &:focus {
                opacity: 1;
            }
        }

        .imageWrap {
            &-box {
                border: 1px solid #d9dde4;
                cursor: pointer;
                @include transition(all 0.2s linear);
            }

            &-title {
                @include transition(all 0.2s linear);
            }

            &:hover,
            &:focus {
                .imageWrap-box {
                    @include shadow-hovered;
                }

                .imageWrap-title {
                    color: #{$gray-800};
                }
            }
        }
    }

    &-colors {
        margin-left: 12px;

        .pColorBox {
            @include colorBox(50px, 50px, 4px);
            background: #{$red};

            &.add-link {
                @include colorBox(50px, 50px, 0);
                background: transparent;
                position: relative;
                font-size: 12px;
                line-height: 12px;
                bottom: 0;
                text-align: center;
                @include flex-as-column;
                justify-content: space-between;
                cursor: pointer;

                .nxi {
                    position: relative;
                    left: -8px;
                    top: 6px;

                    &::before {
                        position: absolute;
                        font-size: 14px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

.productInfo-sides {
    .thumbView-col.active {
        .imageWrap {
            position: relative;

            &::before {
                content: '';
                width: 50px;
                height: 50px;
                border-radius: 4px;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(#000000, 0.3);
            }

            &::after {
                @include tick-mark(9px, 18px, 3px, #fff);
                position: absolute;
                top: 20%;
            }

            &-title {
                color: #{$gray-800};
            }

            &:hover,
            &:focus {
                .imageWrap-box {
                    box-shadow: none;
                }

                .imageWrap-title {
                    color: #{$gray-800};
                }
            }
        }
    }
}